
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/backend.css') 
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")    
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
        
        script.
            $(document).ready(function(){
                $("button").click(function() {
                        var thisclass = $(this).attr("class");
                        $('.'+thisclass).css("visibility","visible");
                }); 
            })

    body
        block content

            h1= title

            div
                p Use this form to edit the fields of an entry in the Institutions collection of the database.
                p "Languages" field should be filled with 1-9 glottolog codes separated by semi-colons (ex. konk1267; mand1415)
                p Address should be as specific as possible

            form#formAddUser(name="adduser",method="post",action="/addinstitution")
                input#inputInstitution(type="text", placeholder="institution", name="institution")
                input#inputLang_1(type="text", placeholder="languages", name="languages")
              
                input#inputDesc(type="text", placeholder="description", name="desc")
                input#inputAddr(type="text", placeholder="address", name="addr")

                button#btnSubmit(type="submit") submit