
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/backend.css') 
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")    
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
        
        script.
            $(document).ready(function(){
                $("button").click(function() {
                        var thisclass = $(this).attr("class");
                        $('.'+thisclass).css("visibility","visible");
                }); 
            })

    body
        block content
            h1= title
            div 
                p Use this form to add a new entry to the collection of languages in the database.
            form#formAddLanguage(name="adduser",method="post",action="/addlanguage")
                input#inputHID(type="text", placeholder="hid", name="hid")
                input#inputID(type="text", placeholder="glottolog id", name="id")
                input#inputLanguage(type="text", placeholder="language", name="language")
                input#inputDescription(type="text", placeholder="description", name="description")
                input#inputInstitution(type="text", placeholder="institution", name="institution")
                select(id="endangermentList", name="endangermentNum")
                    option(id="end1", value="1") 1
                    option(id="end2", value="2") 2
                    option(id="end3", value="3") 3
                    option(id="end4", value="4") 4
                    option(id="end5", value="5") 5
                    option(id="end6", value="6") 6
                input#inputStatus(type="text", placeholder="status", name="status")
                input#inputNtacode_1(type="text", placeholder="ntacode_1", name="ntacode_1")
                input#inputScript(type="text", placeholder="script", name="script")
                input#inputVideoURL(type="text", placeholder="video URL", name="videoURL")


                button#btnSubmit(type="submit") submit