doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Cousine')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
        script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
        script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.js')
        script(src='https://d3js.org/d3.v4.min.js')        
        script(src='https://d3js.org/topojson.v1.min.js')
        script(src='/javascripts/fuzzy.js')
        script(src='https://cdn.jsdelivr.net/async/2.4.0/async.min.js')
    body
        block content
