body {
  font-family: 'Cousine', monospace;
  font-size: 0.7em;
  padding: 0px;
  margin: 0px;
}

#title {
  position: fixed;
  top: 10px;
  left: 10px;
  max-width: 30vw;
  padding: 10px;
  background: black;
  color: white;
  z-index: 2;
}

#loading {
  display: table;
  background: rgba(255,255,255,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-style: italic;
  font-size: 4em;
  color: grey;
}

#loading p {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
}

#underlay-controls {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background: black;
  color: white;
}

#underlay-controls h2 {
  margin-bottom: 5px;
}

#title h1 {
  margin: 0;
}

#filter {
  background: black;
  color: white;
}

#map-target, #annotation-target {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#map-target {
  z-index: -1;
}

#annotation-target {
  z-index: 1;
  pointer-events: none;
}

#overlay-target {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

/* ------  LANGUAGE LIST STYLING ----- */

#list-container {
  float: right;
  width: 30vw;
  margin: 0px;
  padding: 0px;
}

.continent-item {
  margin: 10px;
  background: rgba(255,255,255,0.5);
}

.continent-item-label {
  background: black;
  color: white;
  padding: 10px;
}

.filter {
  background: black;
  color: white;
}

.filter-inputs {
  padding: 10px;
  padding-top: 0px;
}

.filter-inputs input {
  width: 100%;
  background: black;
  color: white;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid white;
  padding: 0px;
  padding-bottom: 5px;
  font-size: 1.5em;
}

.filter-input textarea:focus, input:focus {
  outline: none;
}

.continent-item-label h1, h2, p {
  margin: 0;
}

.language-list {
  padding: 5px;
}

.language-item {
  display: inline-block;
  padding: 2px;
  margin: 3px;
  background: inherit;
}

/* ~~~~~ leaflet ~~~~~~~ */
.leaflet-container {
    background: rgba(255,255,255,0.0) !important;
}

.hidden {
  display: none !important;
}
