

/* -- inputs & filters -- */

#searchString-input {
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px;
  padding-left: 5px;
  width: 85%;
}

/* -- icons -- */

#search-icon {
  color: #888888;
  width: 10%;
  margin: 0px;
}

.table-left-icon {
  text-align: left;
  padding: 0px;
  width: 15px;
}

.table-right-icon {
  text-align: right;
  padding: 0px;
  width: 15px;
}


#clearform-icon {
  color: #888888;
  cursor: pointer;
}

#clearform-icon:hover {
  color: #000;
}

.table-right {
  text-align: right;
  padding-right: 10px;
}

.table-right a {
  margin: 0;
}

#container-main {
  pointer-events: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#drawing-panel {
  pointer-events: all;
  width: 25%;
  max-width: 260px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#overlay-target {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* -- list panel -- */

#list-panel {
  pointer-events: all;
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  width: 25%;
  max-width: 260px;
  height: 100%;
}

#list-filters {
  pointer-events: all;
  border-bottom: 1px solid black;
}

#list-filters-search {
  border-bottom: 1px solid #888888;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 0px;

}

#list-container {
  pointer-events: none;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  max-width: 200px;
  padding: 0px;
  border-right: 1px solid black;
}

#drawing-container {
  pointer-events: none;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  height: 95vh;
}

.drawing-medium {
  width: 50%;
}

.drawing-wide {
  width: 75%;
}

#detail-container {
  background: white;
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: all;
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 80%;
  overflow: hidden;
}

#detail-control {
  height: 2.5em;
}

#detail-control a {
  position: relative;
  top: 10px;
  left: 10px;
}

#map-target, #annotation-target {
  width: 100%;
  height: 100%;
}

#map-target {
  z-index: -1;
}


#langlist-target {
  position: relative;
  z-index: -1;
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  pointer-events: all;
  overflow-y: scroll;
}

.continent-item {
  border-top: 1px solid gray;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

/* general rules */

.header-link-left {
  display: inline-block;
}

.header-link-right {
  display: inline-block;
  float: right;
}


input:focus {
  outline: none;
}

#lang-content {
  padding: 10px;
  padding-top: 0;
}

lang-content p {
  margin-top: 2em;
}

h1 {
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size: 1.9em;
  font-weight: 700;
}

h2 {
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

h3 {
  font-style: italic;
  color: rgb(107, 107, 107);
}

#story-content {
  border-top: 1px solid gray;
  padding-top: 0.75em;
}

#underlay-control {
  border-top: 1px solid gray;
  padding-top: 0.75em;
}

/* ~~~ slider ~~~ */

#slider-range-container {
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

#slider-labels {
  display: inline-block;
  width: 100%;
  font-size: 0.7em;
  margin-top: 5px;
}

#slider-label-left {
  display: inline;
  float: left;
}

#slider-label-center {
  display: inline;
  width: 100%;
  margin: auto;
}

#slider-label-right {
  display: inline;
  float: right;
}

.ui-slider-handle {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: white;
}

.ui-slider-handle:focus {
  outline: none;
}

#title {
  position: fixed;
  top: 10px;
  left: 10px;
  max-width: 20vw;
  padding: 10px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 2;
}

#loading {
  display: table;
  background: rgba(255,255,255,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-style: italic;
  font-size: 4em;
  color: grey;
}

#loading p {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
}

#underlay-controls {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#underlay-controls h2 {

}

#filter {
  background: black;
  color: white;
}


#annotation-target {
  z-index: 1;
}

.continent-item-filter {
  background: rgba(255,255,255,0.8);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.filter-inputs {
  margin: 0;
  padding: 0;
}

.legend-label {
  font-size: 0.7em;
  font-style: italic;
}

.legend-item {
  font-size: 0.7em;
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

/*
.filter-inputs input {
  width: 100%;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid white;
  padding: 0px;
  padding-bottom: 5px;
  font-size: 1.5em;
}

.filter-input textarea:focus, input:focus {
  outline: none;
}*/

/* ~~~ range slider ~~~ */

#listlegend-target {
  padding-left: 5px;
  padding-right: 5px;
}

#slider-range-container {
  position: relative;
  z-index:0;
}

.slider-range {
  width: 100%;
}


.button-group {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-block span {
  display: inline-block;
  font-size: 0.8em;
  padding: 2px;
  margin: 0px;
  margin-right: 5px;
  margin-top: 5px;
  background: inherit;
}

/* ~~~~~ leaflet ~~~~~~~ */
.leaflet-container {
  background: rgba(255,255,255,0.0) !important;
}

.hidden {
  display: none !important;
}

.padded {
  padding: 10px;
}

.shadow {
  box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.narrow {
  min-width: 0px;
}

.places-list span {
  font-size: 0.8em;
  display: inline-block;
  color: black;
  padding: 4px;
  margin: 0px;
  margin-right: 3px;
  margin-bottom: 3px;
  background: #f1f1f1;
}

.lang-dot {
  cursor: default;
}

#underlay-dropdown {
  width: 100%;
}

#globe-target {
  vertical-align: bottom;
  width: 100%;
}

.offscreen-right {
  right: -100%;
}

.ui-slider-range {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f7f7f+0,dddddd+100 */
  background: #7f7f7f; /* Old browsers */
  background: -moz-linear-gradient(left, #7f7f7f 0%, #dddddd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7f7f7f 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7f7f7f 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#person-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 25vw;
  background: white;
}

.story p {
  margin: 0;
  margin-bottom: 1em;
  font-weight: bold;
}

#controls label {
  display: block;
}

.mapsymbol-hidden {
  visibility: hidden;
}

.nbd-selected {
  fill: rgba(100,100,100,0.5);
}

.maplang-hidden {
  fill: white;
  stroke: rgba(0,0,0,0.1);
}

.listlang-hidden {
  background: white !important;
}


#showall-langs-button {
  position: fixed;
  pointer-events: all;
  width: 100%;
  border-top: 1px solid black;
  cursor: pointer;
}

/*-- webkit scrollbar --*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}
::-webkit-scrollbar-thumb:active {
  background: #6b6b6b;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #d9d9d9;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.leaflet-control-zoomhome-in,
.leaflet-control-zoomhome-home,
.leaflet-control-zoomhome-out a {

}

#map-controls {
  pointer-events: all;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border-radius: 0px;
  border: 1px solid gray;
}

.globe-hidden {
  visibility: hidden;
}
