html, body, #wrapper {
    width: 100%;
    height: 100%;
	padding: 0px;
	margin: 0px;
}
#map {
  position:relative;
  width: 100%;
  height: 100%;
  margin: auto auto;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hidden {
	display: none;
}
