/* main layout */

body {
  pointer-events: none;
  font-family: "UniversNextW01-Regular",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  overflow: hidden;
}

tr {
  margin: 0px;
  padding: 0px;
}

#formAddUser{
  font-family: inherit;
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px;
  padding-left: 5px;
  width: 20%;
  focus: blue;
  z-index: 999;
  clear:both;
}

#body-table {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}

.table-left {
  padding-left: 10px;
}

#searchString-input {
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px;
  padding-left: 5px;
  width: 85%;
}


  /* -- header -- */
  #header {
    position: absolute;
    pointer-events: all;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #header table {
    width: 100%;
  }

  #header td {
    padding-left: 10px;
    padding-right: 10px;
  }



  #map-title {
    position: absolute;
    top: 10px;
    left: calc(10px + 18% + 10px);
  }

  #map-title h1 {
    margin: 0px;
    color: #888888;
  }

  #about-link {
    pointer-events: all;
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 10px;
    text-decoration: underline;
    color: #888888;
    font-size: 20px;
    cursor: pointer;
  }

#card-header, #script{
  width: 100%;
  padding: 0px;
  padding-left: 0px;
}

#card-header table, #script table{
  width: 100%;
}

#card-header td, #script td {
  padding-left: 15px;
}

#card-header .card-header-right {
  text-align: right;
  padding-right: 15px;
  cursor: pointer;
}

.card-body {
  margin: 0px;
  padding: 15px;
  padding-top: 0px;
}


/* -- icons -- */

#search-icon {
  color: #888888;
  width: 10%;
  margin: 0px;
}

.table-left-icon {
  text-align: left;
  padding: 0px;
  width: 15px;
}

.table-right-icon {
  text-align: right;
  padding: 0px;
  width: 15px;
}


#clearform-icon {
  color: #888888;
  cursor: pointer;
}

#clearform-icon:hover {
  color: #000;
}

.table-right {
  text-align: right;
  padding-right: 10px;
}

.table-right a {
  margin: 0;
}

#container-main {
  pointer-events: none;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#overlay-target {
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#about-button {
  text-decoration: underline;
  pointer-events: all;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* -- list panel -- */

#list-panel {
  position: absolute;
  pointer-events: all;
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  width: 20%;
  height: 100%;
}

#list-filters {
  pointer-events: all;
}

#list-filters-search {
  border-bottom: 1px solid #cccccc;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 0px;
}


#list-container {
  background: white;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  display: inline-block;
  vertical-align: top;
  width: 18%;
  padding: 0px;
  height: calc(100vh - 20px);
  overflow: hidden;
  z-index: 0;
}

#drawing-container {
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#hide-details-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
}

#detail-container a {
  color: black;
}

#detail-container a:hover{
  color: black;
  text-decoration: underline;
}

#detail-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 175px;
  pointer-events: all;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  width: 18vw;
  max-height: calc(100% - 20px);
  overflow: hidden;
  background: white;
  font-size: 0.9em;
  z-index: 4;
}

#detail-control {
  height: 2.5em;
}

#detail-control a {
  position: relative;
  top: 10px;
  left: 10px;
}

#map-target, #annotation-target {
  width: 100%;
  height: 100%;
}

#map-target {
  z-index: -1;
}


#langlist-target {
  position: relative;
  z-index: -1;
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  pointer-events: all;
  overflow-y: scroll;
  height: 65vh;
  padding-bottom: 100px;
}

.continent-item {
  border-top: 1px solid gray;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

/* general rules */

.header-link-left {
  display: inline-block;
}

.header-link-right {
  display: inline-block;
  float: right;
}


input:focus {
  outline: none;
}

#lang-content {
  margin: 0px;
  padding: 0px;
  overflow: scroll;
}

h1 {
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

h3 {
  font-style: italic;
  color: rgb(107, 107, 107);
}

#story-content {
  border-top: 1px solid gray;
  padding-top: 0.75em;
}

#underlay-control {
  border-top: 1px solid gray;
  padding-top: 0.75em;
}

#loading {
  display: table;
  background: rgba(255,255,255,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-style: italic;
  font-size: 4em;
  color: grey;
}

#loading p {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
}

#underlay-controls {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#underlay-controls h2 {

}

#filter {
  background: black;
  color: white;
}


#annotation-target {
  z-index: 1;
}

.continent-item-filter {
  background: rgba(255,255,255,0.8);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.filter-inputs {
  margin: 0;
  padding: 0;
}

.legend-label {
  font-size: 0.8em;
}

.legend-item {
  cursor: pointer;
  font-size: 0.7em;
  margin-bottom: 5px;
  display: block;
}



/*
.filter-inputs input {
  width: 100%;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid white;
  padding: 0px;
  padding-bottom: 5px;
  font-size: 1.5em;
}

.filter-input textarea:focus, input:focus {
  outline: none;
}*/

#input-slider {
  padding: 15px;
  padding-bottom: 0px;
}


/* ~~~ range slider ~~~ */

#listlegend-target {
    pointer-events: all;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}


#listlegend-target p {
  color: #888888;
  margin-bottom: 3px;
}

#slider-range-container {
  margin: 0px;
  padding: 0px;
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  z-index:0;
}

.slider-range {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

#slider-labels {
  color: #888888;
  display: inline-block;
  width: 100%;
  font-size: 0.8em;
  margin-top: 9px;
}

#slider-label-left {
  display: inline;
  float: left;
}

#slider-label-center {
  display: inline;
  width: 100%;
  margin: auto;
}

#slider-label-right {
  display: inline;
  float: right;
}

.ui-slider-handle {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: white;
}

.ui-slider-handle:focus {
  outline: none;
}

.ui-slider-handle:hover {
  background: black;
}

.button-group {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-block {
  display: inline-block;
  font-size: 0.7em;
  padding: 4px;
  margin: 0px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* ~~~~~ leaflet ~~~~~~~ */

.leaflet-control-zoomhome-in,
.leaflet-control-zoomhome-out {
  color: #cccccc!important;
  background: none;
}

#map-controls {
  pointer-events: all;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  border: 1px solid #cccccc!important;
  color: #888888;
}

.leaflet-container {
  background: rgba(255,255,255,0.0) !important;
}

.hidden {
  display: none !important;
}

.padded {
  padding: 15px;
}

.shadow {
  box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.shadow-reverse {
  box-shadow: 0 -1px 2px rgba(0,0,0,0.19), 0 -2px 1px rgba(0,0,0,0.23);
}

.narrow {
  min-width: 0px;
}

.places-list span {
  font-size: 0.8em;
  display: inline-block;
  color: black;
  padding: 4px;
  margin: 0px;
  margin-right: 3px;
  margin-bottom: 3px;
  background: #f1f1f1;
}

.lang-dot {
  cursor: default;
}

#underlay-dropdown {
  width: 100%;
}

#globe-target {
  vertical-align: bottom;
  width: 100%;
}

.offscreen-right {
  right: -100%;
}

.ui-slider-range {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f7f7f+0,dddddd+100 */
  background: #7f7f7f; /* Old browsers */
  background: -moz-linear-gradient(left, #7f7f7f 0%, #dddddd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7f7f7f 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7f7f7f 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#person-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 25vw;
  background: white;
}

.story p {
  margin: 0;
  margin-bottom: 1em;
  font-weight: bold;
}

#controls label {
  display: block;
}

.map-hidden {
  visibility: hidden;
}

.map-unhighlight {
  fill-opacity: 0.5;
}

.nbd-selected {
  fill: rgba(100,100,100,0.5);
}

.listlang-hidden {
  background: white !important;
}

/*-- webkit scrollbar --*/
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}
::-webkit-scrollbar-thumb:active {
  background: #9c9c9c;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #e8e8e8;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.globe-hidden {
  visibility: hidden;
}


#langlist-status {
  background: white;
  width: 100%;
}

#langlist-status p {
  color: #888888;
  font-size: 0.8em;
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
}
.button-fullwidth {
  pointer-events: all;
  background: white;
  width: calc(100% - 20px);
  margin: 10px;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #888888;
  color: #888888;
  cursor: pointer;
  font-style: bold;
  font-size: 0.8em;
}

.button-fullwidth:hover{
  border: 1px solid black;
  color: black;
}

.leaflet-control-container {
  position: absolute;
  bottom: 75px;
  left: 15px;
  background: none;
}

.leaflet-control-zoom .leaflet-bar .leaflet-control {
  background: none;
}
