body {
  font-family: 'Cousine', monospace;
  font-size: 0.7em;
  padding: 0px;
  margin: 0px;
}

#filter {
  background: black;
  color: white;
}

#map-target {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#globe-target {
  position: fixed;
  top: 45vh;
  left: 5vw;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

/* ------  LANGUAGE LIST STYLING ----- */

#text-container {
  float: right;
  width: 30vw;
  margin: 0px;
  padding: 0px;
}

.continent-item {
  margin: 10px;
  background: rgba(255,255,255,0.5);
}

.continent-item-label {
  background: black;
  color: white;
  padding: 10px;
}

.filter {
  background: black;
  color: white;
}

.filter-inputs {
  padding: 10px;
  padding-top: 0px;
}

.filter-inputs input {
  width: 100%;
  background: black;
  color: white;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid white;
  padding: 0px;
  padding-bottom: 5px;
  font-size: 1.5em;
}

.filter-input textarea:focus, input:focus {
  outline: none;
}

.continent-item-label h1, h2, p {
  margin: 0;
}

.language-list {
  padding: 5px;
}

.language-item {
  display: inline-block;
  padding: 2px;
  margin: 3px;
  background: inherit;
}

/* ~~~~~ leaflet ~~~~~~~ */
.leaflet-container {
    background: rgba(255,255,255,0.0) !important;
}
